
# Archivos de caché de IDEs y editores de texto:
.idea/
.classpath
.project
.settings/
.vscode/

# Archivos de construcción y dependencias:
target/
build/
node_modules/
venv/
vendor/

# Archivos de registro y de depuración:
*.log
*.log.*
*.stackdump
*.swp

# Archivos de configuración de sistemas operativos:
.DS_Store
Thumbs.db
