.container {
	background-color: rgba(255, 255, 255, 0.398);
	width: fit-content;
	padding: 1em;
	margin: 20px;
	border-radius: 18px;
	box-shadow: 0px 0px 25px 12px rgb(127, 255, 92);
	justify-content: center;
	font-family: monospace;
	font-size: 0.75em;
	text-align: center;
	position: relative;
}

.xButton {
	color: rgb(255, 255, 255);
	background-color: red;
	border: 0px;
	width: fit-content;
	height: fit-content;
	border-radius: 15px;
	margin-bottom: 10px;
}

.xButton:hover {
	background-color: rgb(127, 255, 92);
}

.favoriteButtonContainer {
	position: absolute;
}

.imageContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.img {
	margin-top: 15px;
	border-radius: 50%;
	width: 90%;
	height: auto;
	margin-bottom: 20px;
	border: ridge;
}

.img:hover {
	size: 3em;
}

.circle {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.353);
	height: 88%;
	width: 90%;
	border-radius: 50%;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -51%);
}

.circleWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
}

.caption {
	position: absolute;
	margin-bottom: 30px;
}

.nameLink {
	text-decoration: none;
	color: blanchedalmond;
}

.nameLink:hover {
	color: rgb(127, 255, 92) !important;
	font-size: 1.05em;
	text-decoration: underline;
}

.species,
.gender {
	display: inline-block;
	width: 130px;
}

h2 {
	z-index: 2;
	position: relative;
}

h3 {
	margin-top: 20px;
	margin-bottom: 30px;
	text-decoration: underline;
	font-size: 13px;
}

.speciesGenderContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
