@font-face {
    font-family: 'psychedelic';
    src: url('../../fonts/Griastetrial.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




.formContainer {
    position: relative;
    background-color: #ffffff66;
    padding: 60px;
    border-radius: 20px;
    margin-top: 100px;
    font-family:bold;
    font-size: 14px;
    width: 250px;

}

.titulo {
    position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: white;
        font-weight: bold;
        font-family: psychedelic;
        letter-spacing: 3px;
        font-size: 4.5em;
            /* color: transparent; */
            /* background-image: url('../../assets/img/vecteezy_abstract-psychedelic-retro-wave-background_7190729.jpg');
            background-size: 80%; */
            /* -webkit-background-clip: text;
            background-clip: text; */
            -webkit-text-fill-color: transparent;
            /* text-fill-color: transparent; */
            text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, -7px 32px 6px rgba(206, 90, 55, 0.259);
}


.formBackg {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    z-index: 0;
}

.error{
    color: rgb(255, 0, 0);
}

.inputEmail {
    width: 185px;
    border: none;
    border-radius: 5px;
}

.inputPassword {
    border: none;
    border-radius: 5px;
}

.labelEmail {
    font-weight:bolder;
}

.labelPassword{
    font-weight:bolder;
}

.error{
    font-size: 12px;
}

.loginButton {
    font-family: monospace;
    border-radius: 15px;
    height: 2em;
    width: 6em;
}

.loginButton:hover {
            background-color: black;
            color: rgb(127, 255, 92);
    
}

.loginContainer{
    position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 20px;
        margin-right: 30px;
}