.gif{
    filter: sepia(600%) hue-rotate(80deg) saturate(300%) brightness(1);
}

.gifContainer{
    display: flex;
    font-family: monospace;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    
}

.gifContainer h2{
    font-size: 1.5em;
    margin-bottom: 40px;
}



.detailContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 0px 25px 12px rgb(127, 255, 92);
        border-radius: 50px;
        /* border: ridge; */
        gap: 35px;
        padding: 40px;
        margin: 0 auto;
        width: 50%;
        margin-top: -94px;

        
}

/* .nameContainer{
    position: absolute;
    font-family: monospace;

        
} */
.props{
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.props h2{
    font-family:monospace;
    font-size: 2.5em;
    font-weight: bolder;
    font-style: oblique;
}

.props p{
    font-style: oblique;
    color: rgb(127, 255, 92);
    font-weight: 500;
    background: black;
    padding: 0.2em;
    border-radius: 10px;
}

/* .imgContainer{
    background-color: aliceblue;

    
} */

.image{
    border-radius: 50%;
    border: ridge;
}

.image:hover {
    transform: scale(1.1);
}


.backButton {
    font-family: monospace;
    border-radius: 15px;
    height: 2em;
    width: 6em;

}

.backButtonContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        margin: 80px auto;
        box-shadow: 0px 0px 6px 6px rgb(127, 255, 92);
        
}


.backButton:hover {
    background-color: black;
    color: rgb(127, 255, 92);
    font-weight: bolder;
}


